<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-app-name" version="1.0.6">
    <name>App Namer</name>
	<author>Josh Perry</author>
    <description>
        Cordova/Phonegap plugin that allows you to put spaces in the display name of your app.
    </description>
    <keywords>cordova, ios, app, name, spaces</keywords>
    <license>MIT</license>
    <engines>
		<engine name="cordova" version=">5.4.0"/>
    </engines>

    <hook type="after_prepare" src="src/set_app_name.js"/>

    <platform name="ios">
        <config-file target="*-Info.plist" parent="CFBundleName">
            <string>$APP_NAME</string>
        </config-file>
    </platform>
</plugin>
